body{
	background: #404f56;
	color: #FFF;
		/*animation-name*/
	-webkit-animation-name: fade-in;
	-moz-animation-name: fade-in;
	-ms-animation-name: fade-in;
	-o-animation-name: fade-in;
	animation-name: fade-in;
	/*animation-duration*/
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	/*animation-timing-function*/
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-ms-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	animation-timing-function: linear;
	/*animation-iteration-count*/
	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-ms-animation-iteration-count: 1;
	-o-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both; 

}

 @-webkit-keyframes fade-in {
 	0% {
		opacity: 0;
	}
	 
	100% {
		 
		opacity: 1;
	}
}
@-moz-keyframes fade-in {
  	0% {
		opacity: 0;
	}
	 
	100% {
		 
		opacity: 1;
	}
}
@-o-keyframes fade-in {
  0% {
		opacity: 0;
	}
	 
	100% {
		 
		opacity: 1;
	}
}
 
@keyframes fade-in {
  0% {
		opacity: 0;
	}
	 
	100% {
		 
		opacity: 1;
	}
}
#login-block{	 
	padding-top: 50px;
	padding-bottom: 25px;
}


.login-box{
	position: relative;	
	padding-bottom: 20px; 
	margin-top: 80px; 
}

.loginlogo{	
	position: absolute;
	top: 60px;
	left: 70px;
}

.loginback{
	position: absolute;	
}

.welcome{
	position: absolute;
	top: 160px;
	left: 130px;
}

.btnmod1{
	position: absolute;
	top: 190px;
	left: 118px;
	background: transparent;
	border: none;
	background-image:url(../img/btn-mod-1.png);
	background-repeat: no-repeat;
	width: 124px;
	height: 34px;		
}


.btnmod2{
	position: absolute;
	top: 230px;
	left: 118px;
	background: transparent;
	border: none;
	background-image:url(../img/btn-mod-2.png);
	background-repeat: no-repeat;
	width: 124px;
	height: 34px;		
}

.btnmod3{
	position: absolute;
	top: 270px;
	left: 118px;
	background: transparent;
	border: none;
	background-image:url(../img/btn-mod-3.png);
	background-repeat: no-repeat;
	width: 124px;
	height: 34px;

}

.btnmod1:hover{
	position: absolute;
	top: 190px;
	left: 118px;
	background: transparent;
	border: none;
	background-image:url(../img/btn-mod-1-hover.png);
	background-repeat: no-repeat;
	width: 124px;
	height: 34px;		
}


.btnmod2:hover{
	position: absolute;
	top: 230px;
	left: 118px;
	background: transparent;
	border: none;
	background-image:url(../img/btn-mod-2-hover.png);
	background-repeat: no-repeat;
	width: 124px;
	height: 34px;		
}

.btnmod3:hover{
	position: absolute;
	top: 270px;
	left: 118px;
	background: transparent;
	border: none;
	background-image:url(../img/btn-mod-3-hover.png);
	background-repeat: no-repeat;
	width: 124px;
	height: 34px;

}

#footer{
	position: relative;
	top: 300px;	
	text-align: center;
	color: #ebebeb;	
}
